<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= form.class %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :task_title %>
  </div>

  <div class="text_field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :task_description %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time, id: :task_start_time %>
  </div>

  <div class="field">
    <%= form.label :completion_time %>
    <%= form.datetime_select :completion_time, id: :task_completion_time %>
  </div>

  <div class="field">
    <%= form.label :task_state %>
    <%= form.number_field :task_state_id, id: :task_task_state_id %>
  </div>

  <div class="field">
    <%= form.label :task_priority %>
    <%= form.number_field :task_priority_id, id: :task_task_priority_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
