<!DOCTYPE html>
<html>
  <head>
    <title>AchievementTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag  'application' %>
  </head>

  <body>
    <main> 
    <header>
      <h1>Achievement Tracker</h1>
      <span>Helping you keep track of what you've done and feel good about yourself</span>
    </header>
    <%= yield %>
    </main>
  </body>
</html>
