<!DOCTYPE html>
<html>
  <head>
    <title>AchievementTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag  'application' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
  </head>

  <body>
    <main> 
    <header>
      <h1>Achievement Tracker</h1>
      <span>Helping you keep track of what you've done and feel good about yourself.</span>
    </header>
    <%= yield %>
    </main>
  </body>
</html>
